*{
    margin: 0;
    padding: 0;
}

h1{
    margin-top: 30px;
    margin-bottom: 50px;
}

body{
    background-color: #554867;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin ;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
}
.box
{
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    font-size: 8vmin;
    font-weight: bold;
    color: black;
    background-color: #ffff;
}

#reset{
    margin-top: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #ff6f61;
    color: white;
    cursor: pointer;
}

#new-game{
   margin-top: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #ff6f61;
    color: white;
    cursor: pointer;
}

#message{
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.hide{
    display: none;
}